.appear {
  animation: fadein 2s forwards;
}

.disappear {
  animation: fadeout 2s forwards;
}

.hidden {
  display: none;
}

.login-form input {
  width: 50vw;
  border: none;
  margin-top: 15px;
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

.greeting {
  font-size: 2em;
  margin-top: 10px;
}
