.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.header div:first-child {
  width: 33%;
  display: flex;
  justify-content: flex-start;
}

.header div:nth-child(2) {
  width: 33%;
  display: flex;
  justify-content: center;
}

.header div:last-child {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
