.main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clock {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 5px gray;
}
@media screen and (max-width: 720px) {
  .clock {
    font-size: 4em;
  }
  .greeting {
    font-size: 2em;
  }
  .login-form input::placeholder {
    font-size: 1em;
  }
  .main-focus > span {
    font-size: 1em;
  }
  .todo-form input::placeholder {
    font-size: 1em;
  }
  .todo-form input {
    font-size: 1em;
  }
}

@media screen and (720px<width) {
  .clock {
    font-size: 8em;
  }
  .greeting {
    font-size: 3em;
  }
  .login-form input::placeholder {
    font-size: 1.2em;
  }
  .main-focus > span {
    font-size: 1.4em;
  }
  .todo-form input::placeholder {
    font-size: 0.85em;
  }
  .todo-form input {
    font-size: 1.4em;
  }
}

.clock span:nth-child(2) {
  padding-bottom: 20px;
}

.greeting {
  color: var(--black);
  text-shadow: 1px 1px 5px whitesmoke;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.login-form {
  width: 80%;
  text-align: center;
}

.login-form input {
  width: 50%;
  padding: 10px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--border-gray);
  font-size: 1.5em;
  text-align: center;
}

.login-form input::placeholder {
  color: var(--black);
  text-shadow: 1px 1px 5px whitesmoke;
}

.main-focus {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-focus > span {
  color: white;
  text-shadow: 0.5px 0.5px 5px black;
  margin-bottom: 5px;
}
.todo-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form input {
  width: 100%;
  margin-top: 5px;
  border: none;
  background-color: inherit;
  text-align: center;
}

.todo-form input::placeholder {
  color: var(--black);
  text-shadow: 1px 1px 2px white;
}

.todo-list {
  height: 30vh;
  padding: 0px 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
}

@media screen and (max-width: 330px) {
  #todo-list {
    width: 100%;
  }
}
@media screen and (330px<width< 370px) {
  #todo-list {
    width: 90%;
  }
}
@media screen and (370px<=width <470px) {
  #todo-list {
    width: 80%;
  }
}
@media screen and (470px<=width <640px) {
  #todo-list {
    width: 50%;
  }
}
@media screen and (640px<=width <1000px) {
  #todo-list {
    width: 40%;
  }
}
@media screen and (1000px<=width) {
  #todo-list {
    width: 30%;
  }
}

.todo-list input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.todo-list span {
  margin-left: 5px;
  transition: font-weight 400;
}

.todo-list span:hover {
  font-weight: 600;
}

.todo-list i {
  margin-left: 10px;
}
